* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

html {
    font-size: 100.01%;
    height: 100%;
}
body {
    font-size: 62.5%;
    font-family: SANS-SERIF;
    height:100%;
    background: #fafafa;
    color: #4A5147;
}

a {
    color: #7F74C6;
}
a:hover {
    color: #625A99;
}

.content {
    width: 90%;
    margin: 10px auto;
    font-size: 1.4em;
}

.tableItem {
    margin: 40px 0 20px;
}

.search {
    padding-left: 5px;
    margin-bottom: 20px;
}

.tableBlock {
    /*max-height: 400px;*/
    /*overflow: auto;*/
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr:hover td {
    background: antiquewhite;
}

table td,
table th {
    border: 1px silver solid;
    padding: 3px;
    text-align: left;
    cursor : pointer;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

table th.currentSort span {
    color: red;
}

table th span.revers {
    display: none;
}
table th.currentSort span.revers {
    display: inline;
}

ul {
    padding: 20px 10px;
}

.paginator span {
    padding: 5px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.paginator span.active {
    color: red;
}

button {
    padding: 5px 10px;
}